@model HomeIndexViewModel
@{
    ViewBag.Title = "Home page";

}
@*<p>Premjesteni Index View  @Html.ActionLink("DataOfIndexInOtherView", "NumbersOfChar")</p>*@
@* ---------------------------------------------------------------------------------------- *@
<h1>Index</h1>
<h2>All Restaurant</h2>
@foreach (var item in Model.Restaurants)
{
    @Html.Partial("_Summary", item)
}
<div>
    <a class="btn btn-primary" asp-action="Create">Add Restaurant</a>
</div>
